#main-header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;

}
body{
    padding: 0;
    margin: 0;
}
.main-header-nav{
    height: 100%;
    display: flex;
    align-items: center;
}
.main-header-item{
    margin: 0 1rem;
    padding: 0;
    list-style: none;
}
.main-header-item a{
    text-decoration: none;
    color: white;
}
.main-header-item a.active{
    color: turquoise;
}
.form-control label,
.form-control input,
.form-control textarea,
.form-control button {
    display: block;
    width: 200px;
    margin-bottom: 0.25rem;
    margin-left: 500px;
}

.product-form{
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item{
    width: 20rem;
    max-width: 95%;
}

.product-title {
    font-size: 1.2rem;
    text-align: center;
}

.product-price{
    text-align: center;
    color: grey;
    margin-bottom: 0.5rem;
}

.product-description{
    font-size: 1.2rem;

    text-align: center;
}

.sary{
    height: 20rem;
    }
.sary img {
    height: 100%;
}