.btn-hero.btn-primary {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(4, 65, 134, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-primary:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(4, 65, 134, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-primary, .btn-hero.btn-primary:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(4, 65, 134, 0.25);
}
.btn-check:checked + .btn-hero.btn-primary, .btn-check:active + .btn-hero.btn-primary, .btn-hero.btn-primary:active, .btn-hero.btn-primary.active, .show > .btn-hero.btn-primary.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(4, 65, 134, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-primary:focus, .btn-check:active + .btn-hero.btn-primary:focus, .btn-hero.btn-primary:active:focus, .btn-hero.btn-primary.active:focus, .show > .btn-hero.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(4, 65, 134, 0.25);
}
.btn-hero.btn-primary.disabled, .btn-hero.btn-primary:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(4, 65, 134, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-secondary {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(73, 79, 84, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-secondary:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(73, 79, 84, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-secondary, .btn-hero.btn-secondary:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(73, 79, 84, 0.25);
}
.btn-check:checked + .btn-hero.btn-secondary, .btn-check:active + .btn-hero.btn-secondary, .btn-hero.btn-secondary:active, .btn-hero.btn-secondary.active, .show > .btn-hero.btn-secondary.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(73, 79, 84, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-secondary:focus, .btn-check:active + .btn-hero.btn-secondary:focus, .btn-hero.btn-secondary:active:focus, .btn-hero.btn-secondary.active:focus, .show > .btn-hero.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(73, 79, 84, 0.25);
}
.btn-hero.btn-secondary.disabled, .btn-hero.btn-secondary:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(73, 79, 84, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-success {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(72, 102, 42, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-success:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(72, 102, 42, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-success, .btn-hero.btn-success:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(72, 102, 42, 0.25);
}
.btn-check:checked + .btn-hero.btn-success, .btn-check:active + .btn-hero.btn-success, .btn-hero.btn-success:active, .btn-hero.btn-success.active, .show > .btn-hero.btn-success.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(72, 102, 42, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-success:focus, .btn-check:active + .btn-hero.btn-success:focus, .btn-hero.btn-success:active:focus, .btn-hero.btn-success.active:focus, .show > .btn-hero.btn-success.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(72, 102, 42, 0.25);
}
.btn-hero.btn-success.disabled, .btn-hero.btn-success:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(72, 102, 42, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-info {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(29, 106, 177, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-info:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(29, 106, 177, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-info, .btn-hero.btn-info:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(29, 106, 177, 0.25);
}
.btn-check:checked + .btn-hero.btn-info, .btn-check:active + .btn-hero.btn-info, .btn-hero.btn-info:active, .btn-hero.btn-info.active, .show > .btn-hero.btn-info.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(29, 106, 177, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-info:focus, .btn-check:active + .btn-hero.btn-info:focus, .btn-hero.btn-info:active:focus, .btn-hero.btn-info.active:focus, .show > .btn-hero.btn-info.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(29, 106, 177, 0.25);
}
.btn-hero.btn-info.disabled, .btn-hero.btn-info:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(29, 106, 177, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-warning {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(160, 111, 16, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-warning:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(160, 111, 16, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-warning, .btn-hero.btn-warning:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(160, 111, 16, 0.25);
}
.btn-check:checked + .btn-hero.btn-warning, .btn-check:active + .btn-hero.btn-warning, .btn-hero.btn-warning:active, .btn-hero.btn-warning.active, .show > .btn-hero.btn-warning.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(160, 111, 16, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-warning:focus, .btn-check:active + .btn-hero.btn-warning:focus, .btn-hero.btn-warning:active:focus, .btn-hero.btn-warning.active:focus, .show > .btn-hero.btn-warning.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(160, 111, 16, 0.25);
}
.btn-hero.btn-warning.disabled, .btn-hero.btn-warning:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(160, 111, 16, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-danger {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(155, 55, 18, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-danger:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(155, 55, 18, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-danger, .btn-hero.btn-danger:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(155, 55, 18, 0.25);
}
.btn-check:checked + .btn-hero.btn-danger, .btn-check:active + .btn-hero.btn-danger, .btn-hero.btn-danger:active, .btn-hero.btn-danger.active, .show > .btn-hero.btn-danger.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(155, 55, 18, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-danger:focus, .btn-check:active + .btn-hero.btn-danger:focus, .btn-hero.btn-danger:active:focus, .btn-hero.btn-danger.active:focus, .show > .btn-hero.btn-danger.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(155, 55, 18, 0.25);
}
.btn-hero.btn-danger.disabled, .btn-hero.btn-danger:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(155, 55, 18, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-dark {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(18, 20, 22, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-dark:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(18, 20, 22, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-dark, .btn-hero.btn-dark:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(18, 20, 22, 0.25);
}
.btn-check:checked + .btn-hero.btn-dark, .btn-check:active + .btn-hero.btn-dark, .btn-hero.btn-dark:active, .btn-hero.btn-dark.active, .show > .btn-hero.btn-dark.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(18, 20, 22, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-dark:focus, .btn-check:active + .btn-hero.btn-dark:focus, .btn-hero.btn-dark:active:focus, .btn-hero.btn-dark.active:focus, .show > .btn-hero.btn-dark.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(18, 20, 22, 0.25);
}
.btn-hero.btn-dark.disabled, .btn-hero.btn-dark:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(18, 20, 22, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-light {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(188, 200, 225, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.btn-hero.btn-light:hover {
  box-shadow: 0 0.375rem 0.75rem rgba(188, 200, 225, 0.4);
  transform: translateY(-1px);
}
.btn-check:focus + .btn-hero.btn-light, .btn-hero.btn-light:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(188, 200, 225, 0.25);
}
.btn-check:checked + .btn-hero.btn-light, .btn-check:active + .btn-hero.btn-light, .btn-hero.btn-light:active, .btn-hero.btn-light.active, .show > .btn-hero.btn-light.dropdown-toggle {
  box-shadow: 0 0.125rem 0.75rem rgba(188, 200, 225, 0.25);
  transform: translateY(0);
}
.btn-check:checked + .btn-hero.btn-light:focus, .btn-check:active + .btn-hero.btn-light:focus, .btn-hero.btn-light:active:focus, .btn-hero.btn-light.active:focus, .show > .btn-hero.btn-light.dropdown-toggle:focus {
  box-shadow: 0 0.125rem 0.75rem rgba(188, 200, 225, 0.25);
}
.btn-hero.btn-light.disabled, .btn-hero.btn-light:disabled {
  box-shadow: 0 0.125rem 0.75rem rgba(188, 200, 225, 0.25);
  transform: translateY(0);
}
.btn-hero.btn-lg, .btn-group-lg > .btn-hero.btn {
  padding: 0.875rem 2.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
.btn-hero.btn-sm, .btn-group-sm > .btn-hero.btn {
  padding: 0.375rem 1.25rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
}
.content.content-full {
  padding-bottom: 0.875rem;
}
.content.content-full > .pull-b,
.content.content-full > .pull-y,
.content.content-full > .pull {
  margin-bottom: -0.875rem;
}
.content.content-full {
  padding-bottom: 1.75rem;
}
.content.content-full > .pull-b,
.content.content-full > .pull-y,
.content.content-full > .pull {
  margin-bottom: -1.75rem;
}
.content.content-full {
  padding-bottom: 0.875rem;
}
.content.content-full > .pull-b,
.content.content-full > .pull-y,
.content.content-full > .pull {
  margin-bottom: -0.875rem;
}
.content.content-full {
  padding-bottom: 1.75rem;
}
.content.content-full > .pull-b,
.content.content-full > .pull-y,
.content.content-full > .pull {
  margin-bottom: -1.75rem;
}
.content.content-full {
  padding-bottom: 1.75rem;
}
.content.content-full > .pull-b,
.content.content-full > .pull-y,
.content.content-full > .pull {
  margin-bottom: -1.75rem;
}
.hero-inner {
  flex: 0 0 auto;
  width: 100%;
}

.content.content-full {
  padding-bottom: 1.75rem;
}
.content.content-full > .pull-b,
.content.content-full > .pull-y,
.content.content-full > .pull {
  margin-bottom: -1.75rem;
}
.content.content-full {
  padding-bottom: 1.75rem;
}
.content.content-full > .pull-b,
.content.content-full > .pull-y,
.content.content-full > .pull {
  margin-bottom: -1.75rem;
}
.block-content.block-content-full {
  padding-bottom: 1.25rem;
}
.block-content.block-content-full > .pull-b,
.block-content.block-content-full > .pull-y,
.block-content.block-content-full > .pull {
  margin-bottom: -1.25rem;
}
.block-content.block-content-full {
  padding-bottom: 1.25rem;
}
.block-content.block-content-full > .pull-b,
.block-content.block-content-full > .pull-y,
.block-content.block-content-full > .pull {
  margin-bottom: -1.25rem;
}
.block-content.block-content-sm.block-content-full {
  padding-bottom: 0.625rem;
}
.block-content.block-content-sm.block-content-full > .pull-b,
.block-content.block-content-sm.block-content-full > .pull-y,
.block-content.block-content-sm.block-content-full > .pull {
  margin-bottom: -0.625rem;
}

.fw-bold {
  font-weight: 700 !important;
}

.fw-bolder {
  font-weight: bolder !important;
}
.fw-medium {
  font-weight: 500 !important;
}
.bg-body-extra-light {
  background-color: #fff !important;
}

a.bg-body-extra-light:hover, a.bg-body-extra-light:focus,
button.bg-body-extra-light:hover,
button.bg-body-extra-light:focus {
  background-color: #e6e6e6 !important;
}

.btn-hero.btn-primary {
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  font-weight: 700;
  padding: 0.625rem 1.5rem;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  box-shadow: 0 0.125rem 0.75rem rgba(4, 65, 134, 0.25);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, transform 0.12s ease-out;
}
.d-inline-block {
  display: inline-block !important;
}


